<!DOCTYPE html>
<html>
<head>
    <title>Subscribe to Email Campaign</title>
</head>
<body>
    <h1>Subscribe to Email Campaign</h1>
    <h2>Verify your credentials by entering in UserEmail and Password Field</h2>
    <form method="POST" action="/subscribe">
        <label for="user_email">User Email:</label>
        <input type="email" name="user_email" required><br><br>
        <label for="password">Password:</label>
        <input type="text" name="password"><br><br>
        <label for="email">Customer Email:</label>
        <input type="email" name="email" required><br><br>
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" required><br><br>
        <input type="submit" value="Subscribe">
    </form>
</body>
</html>
